.nav_list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0;
}

.nav_item {
  margin: 0 10px;
}

.nav_item a {
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid greenyellow;
  margin: 10px;
  list-style: none;
  padding: 10px;
}

.id {
  text-align: center;
}

.cancel {
  margin-left: 20px;
}
